<div class="gsap__section-1">
  <h1 class="section-1-title">gsap.to()</h1>
  <div class="container__1">
    <div class="box__1"></div>
  </div>
  <div class="container__1">
    <div class="box__2"></div>
  </div>
</div>

<div class="gsap__section-1">
  <h1 class="section-1-title">gsap.fromTo()</h1>
  <div class="container__1">
    <div class="box__3"></div>
  </div>
</div>

<div class="gsap__section-1">
  <h1 class="section-1-title">gsap.set()</h1>
  <div class="container__1">
    <div class="box__4"></div>
  </div>
</div>
