.gsap__section-1 {
  margin-top: 20px;
}

.section-1-title {
  text-align: center;
}

.container__1 {
  margin: 30px 30px;

  border: 1px solid #000;
  padding: 30px;
}

.box__1 {
  width: 100px;
  height: 100px;
  background-color: tomato;
  border-radius: 30px;
}

.box__2 {
  width: 100px;
  height: 100px;
  background-color: rgb(106, 201, 146);
  border-radius: 30px;
}

.box__3 {
  width: 100px;
  height: 100px;
  background-color: rgb(126, 114, 233);
  border-radius: 30px;
}

.box__4 {
  width: 100px;
  height: 100px;
  background-color: rgb(233, 115, 213);
  border-radius: 30px;
}
