.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.wrap__1,
.wrap__2,
.wrap__3,
.wrap__4,
.wrap__5,
.wrap__6,
.wrap__7,
.wrap__8 {
  width: 100%;
  height: 400px;
  border-radius: 30px;
}

.wrap__1 {
  background-color: tomato;
}

.wrap__2 {
  background-color: rgb(106, 201, 146);
}

.wrap__3 {
  background-color: rgb(126, 114, 233);
}

.wrap__4 {
  background-color: rgb(233, 115, 213);
}

.wrap__5 {
  background-color: rgb(87, 119, 161);
}

.wrap__6 {
  background-color: rgb(200, 214, 130);
}

.wrap__7 {
  background-color: rgb(118, 148, 129);
}

.wrap__8 {
  background-color: rgb(233, 115, 127);
}
