/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');

/* GSAP styles */
@import url('./gsap.css');
@import url('./scroll.css');
@import url('./text.css');

